.containerNav {
  background-color: white;
  height: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  .navUpper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    .hamburger {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 768px) {
      justify-content: space-around;
    }

    img {
      width: 10%;
      cursor: pointer;
      @media screen and (max-width: 768px) {
        width: 30%;
      }
    }

    .searchBar {
      width: 35%;
      border-bottom: 0.5px solid black;
      margin-right: 60px;
      margin-left: 60px;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 768px) {
        display: none;
      }

      input {
        border: none;
        outline: none;
        width: 95%;
        padding: 5px;
      }
    }

    .acount {
      display: flex;
      align-items: center;
      margin-right: 20px;
      cursor: pointer;
      i {
        margin-right: 5px;
        font-size: 20px;
        cursor: pointer;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .cart {
      display: flex;
      align-items: center;
      cursor: pointer;
      .NumberProductCard {
        width: 30px;
        height: 30px;
        p {
          background: #f8475f;
          border-radius: 50%;
          padding: 3px;
          font-size: 14px;
          margin: 3px;
          color: white;
          font-weight: 600;
        }
      }
    }
  }
  .navBottom {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px;
      .searchBar {
        width: 100%;
        border-bottom: 0.5px solid black;
        margin-right: 60px;
        margin-left: 60px;
        display: flex;
        justify-content: space-between;
        input {
          border: none;
          outline: none;
          width: 95%;
          padding: 5px;
        }
      }
    }
  }
}
